@page "/APIRef"
@using Data
@using Documents
@using Cache
@inject NavigationManager _navigator;
@inject CacheHandler _cache;

<PageTitle>API reference</PageTitle>

<div id="Top" class="container-fluid bg-dark text-light">
    <h2 class="docs-title">Printity framework API reference</h2>

    <p>
        This is a documentation of how you can call Printityframework API server to create your own custom PDFs <br />
        Included in this documentation the objects of PFW (Printity framework) and their properties and a complete JSON
        Examples of how you can call the API server.
    </p>
    <h3 class="docs-title" id="Document">Section 1: Main document {PFW_Document}</h3>
    <div class="docs-bg-light" style="padding-left:24px;">
        <div>
            This is the main object which defines the document itself,
            These are thr properties in this object
        </div>
        <div class="text-decoration-underline docs-property">
            Paper size
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Enum {A4, A5}
            <div class="docs-bg-lighter">
                This will define the pages dimentsions of the document, currently we support A4, and A5 paper sizes
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Tables
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_Table[]
            <div class="docs-bg-lighter">
                This is an array of table objects, this will allow you to add tables to the document, we support multiple tables definitions to the doucments
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Labels
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_PlaceLabel[]
            <div class="docs-bg-lighter">
                This is an array of label objects, this type of objects will allow you to add labels / captions / titles to your documents that will repeate with every page
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            PlaceHeaderValues
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_PlaceHeaderValue[]
            <div class="docs-bg-lighter">
                This is an array of header value objects, they're much like labels but each object contains a hader and a value objects, this type is suitable for adding sums / avgs / and other titled objects
            </div>
        </div>
    </div>
    <p></p>
    <h3 class="docs-title" id="Font">Section 2: Font {PFW_Font}</h3>
    <div class="docs-bg-light" style="padding-left:24px;">
        <div>
            This is the main holder of the font related properties, and other text decoration properties
        </div>
        <div class="text-decoration-underline docs-property">
            FontName
        </div>
        <div class="docs-description" style="padding-left:20px;">
            String
            <div class="docs-bg-lighter">
                A string holder for the font-family name, default is Arial.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Bold
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Boolean
            <div class="docs-bg-lighter">
                A boolean holder for the text bold property, default is false.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Italic
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Boolean
            <div class="docs-bg-lighter">
                A boolean holder for the text italic property, default is false.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Underline
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Boolean
            <div class="docs-bg-lighter">
                A boolean holder for the text underline property, default is false.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Size
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Integer
            <div class="docs-bg-lighter">
                An integral holder for the text size property.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Color
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                A color holder for the text color property.
            </div>
        </div>
    </div>
    <p></p>

    <h3 class="docs-title" name="border" @id="border" id="border">Section 3: Border {PFW_Border}</h3>
    <div class="docs-bg-light" style="padding-left:24px;">
        <div>
            This is the main holder of the border related properties.
        </div>
        
        <div class="text-decoration-underline docs-property">
            BorderColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                The main color of the borders.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            TopBorderColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                The top border color.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            LeftBorderColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                The left border color.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            BottomBorderColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                The bottom border color.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            RightBorderColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                The right border color.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            BorderSize
        </div>
        <div class="docs-description" style="padding-left:20px;">
            float
            <div class="docs-bg-lighter">
                The main border size.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            TopBorderSize
        </div>
        <div class="docs-description" style="padding-left:20px;">
            float
            <div class="docs-bg-lighter">
                The top border size.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            LeftBorderSize
        </div>
        <div class="docs-description" style="padding-left:20px;">
            float
            <div class="docs-bg-lighter">
                The left border size.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            BottomBorderSize
        </div>
        <div class="docs-description" style="padding-left:20px;">
            float
            <div class="docs-bg-lighter">
                The bottom border size.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            RightBorderSize
        </div>
        <div class="docs-description" style="padding-left:20px;">
            float
            <div class="docs-bg-lighter">
                The right border size.
            </div>
        </div>
    </div>
    <p></p>
    <h3 class="docs-title" name="border" @id="border" id="border">Section 4: Font {PFW_Font}</h3>
    <div class="docs-bg-light" style="padding-left:24px;">
        <div>
            This is the main holder of font and writing related properties.
        </div>
        
        <div class="text-decoration-underline docs-property">
            FontName
        </div>
        <div class="docs-description" style="padding-left:20px;">
            String
            <div class="docs-bg-lighter">
                The font (family) name for the writing object.
            </div>
        </div>

         <div class="text-decoration-underline docs-property">
            Bold
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Boolean
            <div class="docs-bg-lighter">
                Is the writing text bold or normal (regullar).
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Italic
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Boolean
            <div class="docs-bg-lighter">
                Is the writing text italic or normal (regullar).
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Underline
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Boolean
            <div class="docs-bg-lighter">
                Is the writing text underlined or not.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Size
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Integer
            <div class="docs-bg-lighter">
                To set the font size of the writing text.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Color
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                Set the color of the writing text.
            </div>
        </div>
    </div>
    <p></p>
    <h3 class="docs-title" name="border" @id="border" id="border">Section 5: Label {PFW_PlaceLabel}</h3>
    <div class="docs-bg-light" style="padding-left:24px;">
        <div>
            This is a drawale object to place a label on the printed document, and repeating it in every page.
        </div>
        
        <div class="text-decoration-underline docs-property">
            BackgroundColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                Sets the background color of the label.
            </div>
        </div>

         <div class="text-decoration-underline docs-property">
            Bounds
        </div>
        <div class="docs-description" style="padding-left:20px;">
            RectangleF
            <div class="docs-bg-lighter">
                Sets the bounds (Top , Left, Height, Width) of the label.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            BoundsUnit
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Enum { Percent , Dot (Currently represented as Millimeter)}
            <div class="docs-bg-lighter">
                The unit of the bounds.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Text
        </div>
        <div class="docs-description" style="padding-left:20px;">
            String
            <div class="docs-bg-lighter">
                The text that will be written on the label.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Font
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_Font
            <div class="docs-bg-lighter">
                The label text font properties.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            HAlign
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Enum {Left, Center, Right}
            <div class="docs-bg-lighter">
                The horizontal alignment for text written in the label.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            VAlign
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Not implemented yet
            <div class="docs-bg-lighter">
                The vertical alignment for text written in the label.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Border
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_Border
            <div class="docs-bg-lighter">
                The properties of the label's border
            </div>
        </div>
    </div>

    <p></p>
    <h3 class="docs-title" name="border" @id="border" id="border">Section 6: Header value {PFW_PlaceHeaderValue}</h3>
    <div class="docs-bg-light" style="padding-left:24px;">
        <div>
            This is a drawale object combines two labels, one for the header and one for the value (AKA: master detail).
        </div>
        
        <div class="text-decoration-underline docs-property">
            Bounds
        </div>
        <div class="docs-description" style="padding-left:20px;">
            RectangleF
            <div class="docs-bg-lighter">
                The bounds of the value label.
            </div>
        </div>

         <div class="text-decoration-underline docs-property">
            BoundsUnit
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Enum { Percent , Dot (Currently represented as Millimeter)}
            <div class="docs-bg-lighter">
                The measuring unit of the bounds of the value label
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            HeaderBounds
        </div>
        <div class="docs-description" style="padding-left:20px;">
            RectangleF
            <div class="docs-bg-lighter">
                The bounds of the header label
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            HeaderBoundsUnit
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Enum { Percent , Dot (Currently represented as Millimeter)}
            <div class="docs-bg-lighter">
                The measuring unit of the bounds of the header label.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Header
        </div>
        <div class="docs-description" style="padding-left:20px;">
            String
            <div class="docs-bg-lighter">
                The text of the header label.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Text
        </div>
        <div class="docs-description" style="padding-left:20px;">
            String
            <div class="docs-bg-lighter">
                The text of the value label
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            Font
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_Font
            <div class="docs-bg-lighter">
                The font of the value text.
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            HeaderFont
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_Font
            <div class="docs-bg-lighter">
                The font of the header text
            </div>
        </div>

        <div class="text-decoration-underline docs-property">
            HeaderHAlign
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Enum {Left, Center, Right} 
            <div class="docs-bg-lighter">
                The horizontal alignment of the header text. 
            </div>
        </div>
        <div class="text-decoration-underline docs-property">
            HeaderVAlien
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Not implemented yet
            <div class="docs-bg-lighter">
                The vertical alignment of the header text. 
            </div>
        </div>
        <div class="text-decoration-underline docs-property">
            HAlign
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Enum {Left, Center, Right} 
            <div class="docs-bg-lighter">
                The horizontal alignment of the value text. 
            </div>
        </div>
        <div class="text-decoration-underline docs-property">
            VAlien
        </div>
       <div class="docs-description" style="padding-left:20px;">
            Not implemented yet
            <div class="docs-bg-lighter">
                The vertical alignment of the header text. 
            </div>
        </div>
        <div class="text-decoration-underline docs-property">
            BackGroundColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                The back ground color of the value label
            </div>
        </div>
        <div class="text-decoration-underline docs-property">
            HeaderBackgroundColor
        </div>
        <div class="docs-description" style="padding-left:20px;">
            Color
            <div class="docs-bg-lighter">
                The back ground color of the header label
            </div>
        </div>
        <div class="text-decoration-underline docs-property">
            Border
        </div>
        <div class="docs-description" style="padding-left:20px;">
            PFW_Border
            <div class="docs-bg-lighter">
                The border of the value label
            </div>
        </div>
        <div class="text-decoration-underline docs-property">
            HeaderBorder
        </div>
        <div class="docs-description" style="padding-left:20px;">
           PFW_Border
            <div class="docs-bg-lighter">
                The border of the value label
            </div>
        </div>
    </div>
</div>
@code {
}
