@page "/"
@using Data
@using Documents
@inject NavigationManager _navigator;

<PageTitle>Report testing </PageTitle>

<h1>Demo of printity framework</h1> 

@code{
    List<SamplePrintityTableModel> list = new List<SamplePrintityTableModel>();
    protected override async Task OnInitializedAsync()
    {
        list = SamplePrintityTableModelService.PrepareRandomList(250);
        DocumentService service = new DocumentService();
        var output = service.CreateSampleDocument(list);
    }
}